body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

/*
Hero
*/

.hero-container {
  width: 100%;
  background-image: url('images/hero.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.hero-container .breadcrumb {
  margin: 0;
  color: grey;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.hero-container .title {
  line-height: 4rem;
  font-size: 3.5rem;
  font-weight: 300;
  max-width: 31.75rem;
}

.hero-container .description {
  max-width: 28rem;
  line-height: 1.75rem;
  margin-bottom: 4.5rem;
}

.hero-container .action {
  font-size: 1.25rem;
}

/*
Curated List
*/

.curated-container {
  display: flex;
  width: 100%;
}

.curated {
  height: 500px;
  width: 32%;
  display: flex;
  margin-bottom: 4rem;

  overflow-x: visible;

  background-image: url('images/featured-look.png');
  background-size: 80%;
  background-repeat: no-repeat;

  position: relative;
}

.curated.top-left {
  background-position: top left;
  justify-content: flex-end;
}

.curated.bottom-left {
  background-position: bottom left;
  justify-content: flex-end;
  align-items: flex-end;
}

.curated.top-left > .curated-description {
  font-size: 1.25rem;
  text-align: right;
  position: relative;
  right: -1.75rem;
}

.curated.bottom-left > .curated-description {
  font-size: 1.25rem;
  position: relative;
}

/*
Curated for you
*/

.curated-for-you-container,
.curated-photos-container {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.curated-for-you-container .header {
  font-size: 1.25rem;
  font-weight: 400;
  flex: 1;
}

.curated-photos-container .post {
  text-align: left;
  margin: 1rem;
}

.post .relative-time {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  color: #a8a8a8;
}

.post .post-details {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.post-details .brandname,
.post-details .size {
  margin: 0 0 0.5rem;
}

.post .title {
  color: #7e7e7e;
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.post .price {
  margin: 0 0 0.5rem;
  font-weight: 600;
}
